/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Open+Sans+Condensed:wght@300&display=swap');

* {
    margin: 0;
    
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: Open Sans Condensed, sans-serif ;
  }

header {
    background:#f9a12eff;
    padding: 20px;
}


header h1 {
    color: #9b4a97ff;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

nav a { 
    background:#fc766aff;
    color:#9b4a97ff;
    display: flex;
    width: 70px;
    padding: 10px;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    margin: 2px;
    font-weight: 300;
}

nav a:hover {
    background:#9b4a97ff;
    color: white;
}

.top {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.main-pic {
    display: inline-block;
    margin-left: 20px;
}

.top-text {
    display: inline-block;
    width: 50%;
    margin-left: 30px;
}

.top-text h2,button,p {
    margin: 10px 0;
}

.top-text h2 {
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
    color: #9b4a97ff;
}

.header-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

button {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    background-color: #9b4a97ff;
    color: #fc766aff;
    font-family: Open Sans Condensed, sans-serif ;
}

.top-text p {
    font-size: 45px;
    text-align: center;
}

.gallery .top-div, .bottom-div {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-direction: row;
    flex-wrap: row;
    width: 100%;
    height: 40vh;
}

.gallery h3 {
    text-align: center;
}
.top-div {
    margin-bottom: 15px;
}

footer {
    background: #f9a12eff;
    width: 100%;
    height: 300px;

}

footer h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 40px;
    align-items: center;
    padding-top: 30px;
    color: #9b4a97ff;
}

footer .button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    color: #fc766aff;
}

footer nav {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    margin: 2px;
    font-weight: 300;

}